# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
/.vs/canaline/v15/ipch/AutoPCH/5cc0a194968b5d8f/CANALINE.ipch
/.vs/canaline/v15/Browse.VC.db
/.vs/canaline/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs
/Debug
/packages/boost.1.65.1.0
/packages.config
/canaline.vcxproj.user
/canaline.vcxproj.filters
/canaline.vcxproj
/canaline.sln
